<nav class="navbar navbar-light sticky-top" style="background-color: #b11226;">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo2.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="header">Encryption App</span>
  </a>
</nav>

<div class="row" >
      <div class="col-2">
        <div class="sidebar">
          <a class="active" href="#encryptParam" (click)="GoToFunction('1')">Encrypt Parameters</a>
          <!-- <a href="#serializeObject"(click)="GoToFunction('2')">Serialize Object</a> -->
          <!-- <a href="#contact">Contact</a>
          <a href="#about">About</a> -->
        </div>
      </div>
      <div class="col mt-4" *ngIf="menu == '1'">
        <app-encrypted-param></app-encrypted-param>
      </div>

      <div class="col mt-4" *ngIf="menu == '2'">
        <app-serialize-param></app-serialize-param>
      </div>

</div>